<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>servlets.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTeacher</servlet-name>
        <servlet-class>servlets.LoginTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarTeacher</servlet-name>
        <servlet-class>servlets.RegistrarTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTesis</servlet-name>
        <servlet-class>servlets.ListarTesis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarTema</servlet-name>
        <servlet-class>servlets.RegistrarTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTesisAsesor</servlet-name>
        <servlet-class>servlets.ListarTesisAsesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTesisProfesor</servlet-name>
        <servlet-class>servlets.ListarTesisProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AceptarTesis</servlet-name>
        <servlet-class>servlets.AceptarTesis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechazarTesis</servlet-name>
        <servlet-class>servlets.RechazarTesis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AceptarSolicitud</servlet-name>
        <servlet-class>servlets.AceptarSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechazarSolicitud</servlet-name>
        <servlet-class>servlets.RechazarSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTesisAceptadas</servlet-name>
        <servlet-class>servlets.ListarTesisAceptadas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTesisSinAsesor</servlet-name>
        <servlet-class>servlets.ListarTesisSinAsesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAsesores</servlet-name>
        <servlet-class>servlets.ListarAsesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarAsesor</servlet-name>
        <servlet-class>servlets.RegistrarAsesor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTeacher</servlet-name>
        <url-pattern>/LoginTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarTeacher</servlet-name>
        <url-pattern>/RegistrarTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTesis</servlet-name>
        <url-pattern>/ListarTesis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarTema</servlet-name>
        <url-pattern>/RegistrarTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTesisAsesor</servlet-name>
        <url-pattern>/ListarTesisAsesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTesisProfesor</servlet-name>
        <url-pattern>/ListarTesisProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AceptarTesis</servlet-name>
        <url-pattern>/AceptarTesis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechazarTesis</servlet-name>
        <url-pattern>/RechazarTesis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AceptarSolicitud</servlet-name>
        <url-pattern>/AceptarSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechazarSolicitud</servlet-name>
        <url-pattern>/RechazarSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTesisAceptadas</servlet-name>
        <url-pattern>/ListarTesisAceptadas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTesisSinAsesor</servlet-name>
        <url-pattern>/ListarTesisSinAsesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAsesores</servlet-name>
        <url-pattern>/ListarAsesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarAsesor</servlet-name>
        <url-pattern>/RegistrarAsesor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
